<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_ciudades_ppam-NombreCiudad-<%%VALUE(IdCiudadPPAM)%%>" class="text-center"><%%VALUE(NombreCiudad)%%></td>
		<td id="t_ciudades_ppam-IdCoordinador-<%%VALUE(IdCiudadPPAM)%%>" class="text-center"><%%VALUE(IdCoordinador)%%></td>
		<td id="t_ciudades_ppam-idAuxiliarCoordinador1-<%%VALUE(IdCiudadPPAM)%%>" class="text-center"><%%VALUE(idAuxiliarCoordinador1)%%></td>
		<td id="t_ciudades_ppam-idAuxiliarCoordinador2-<%%VALUE(IdCiudadPPAM)%%>" class="text-center"><%%VALUE(idAuxiliarCoordinador2)%%></td>
		<td id="t_ciudades_ppam-idAuxiliarCoordinador3-<%%VALUE(IdCiudadPPAM)%%>" class="text-center"><%%VALUE(idAuxiliarCoordinador3)%%></td>
