<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_disponibilidades_voluntarios-IdPPAM-<%%VALUE(IdDisponibilidad)%%>" class="text-center"><%%VALUE(IdPPAM)%%></td>
		<td id="t_disponibilidades_voluntarios-IdVoluntario-<%%VALUE(IdDisponibilidad)%%>" class="text-center"><%%VALUE(IdVoluntario)%%></td>
		<td id="t_disponibilidades_voluntarios-IdDiaSemana-<%%VALUE(IdDisponibilidad)%%>" class="text-center"><%%VALUE(IdDiaSemana)%%></td>
		<td id="t_disponibilidades_voluntarios-IdTurnoDisponible-<%%VALUE(IdDisponibilidad)%%>" class="text-center"><%%VALUE(IdTurnoDisponible)%%></td>
		<td id="t_disponibilidades_voluntarios-VecesDisponibilidadMes-<%%VALUE(IdDisponibilidad)%%>" class="text-center"><%%VALUE(VecesDisponibilidadMes)%%></td>
		<td id="t_disponibilidades_voluntarios-Observaciones-<%%VALUE(IdDisponibilidad)%%>" class=""><%%VALUE(Observaciones)%%></td>
