<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 't_horarios_calendario_turnos_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="t_horarios_calendario_turnos-idPPAM-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-idPPAM text-center"><%%SELECT%%><%%VALUE(idPPAM)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno1-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-InicioTurno1 text-center"><%%SELECT%%><%%VALUE(InicioTurno1)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno1-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-FinTurno1 text-center"><%%SELECT%%><%%VALUE(FinTurno1)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno2-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-InicioTurno2 text-center"><%%SELECT%%><%%VALUE(InicioTurno2)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno2-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-FinTurno2 text-center"><%%SELECT%%><%%VALUE(FinTurno2)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno3-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-InicioTurno3 text-center"><%%SELECT%%><%%VALUE(InicioTurno3)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno3-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-FinTurno3 text-center"><%%SELECT%%><%%VALUE(FinTurno3)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno4-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-InicioTurno4 text-center"><%%SELECT%%><%%VALUE(InicioTurno4)%%><%%ENDSELECT%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno4-<%%VALUE(idHorarioCalendario)%%>" class="t_horarios_calendario_turnos-FinTurno4 text-center"><%%SELECT%%><%%VALUE(FinTurno4)%%><%%ENDSELECT%%></td>
