<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_horarios_calendario_turnos-idPPAM-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(idPPAM)%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno1-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(InicioTurno1)%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno1-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(FinTurno1)%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno2-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(InicioTurno2)%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno2-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(FinTurno2)%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno3-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(InicioTurno3)%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno3-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(FinTurno3)%%></td>
		<td id="t_horarios_calendario_turnos-InicioTurno4-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(InicioTurno4)%%></td>
		<td id="t_horarios_calendario_turnos-FinTurno4-<%%VALUE(idHorarioCalendario)%%>" class="text-center"><%%VALUE(FinTurno4)%%></td>
