<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 't_incidencias_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="t_incidencias-IdPPAM-<%%VALUE(IdIncidencia)%%>" class="t_incidencias-IdPPAM text-center"><%%SELECT%%><%%VALUE(IdPPAM)%%><%%ENDSELECT%%></td>
		<td id="t_incidencias-IdVoluntario-<%%VALUE(IdIncidencia)%%>" class="t_incidencias-IdVoluntario text-center"><%%SELECT%%><%%VALUE(IdVoluntario)%%><%%ENDSELECT%%></td>
		<td id="t_incidencias-FechaIncidencia-<%%VALUE(IdIncidencia)%%>" class="t_incidencias-FechaIncidencia text-center"><%%SELECT%%><%%VALUE(FechaIncidencia)%%><%%ENDSELECT%%></td>
		<td id="t_incidencias-DescIncidencia-<%%VALUE(IdIncidencia)%%>" class="t_incidencias-DescIncidencia "><%%SELECT%%><%%VALUE(DescIncidencia)%%><%%ENDSELECT%%></td>
