<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_incidencias-IdPPAM-<%%VALUE(IdIncidencia)%%>" class="text-center"><%%VALUE(IdPPAM)%%></td>
		<td id="t_incidencias-IdVoluntario-<%%VALUE(IdIncidencia)%%>" class="text-center"><%%VALUE(IdVoluntario)%%></td>
		<td id="t_incidencias-FechaIncidencia-<%%VALUE(IdIncidencia)%%>" class="text-center"><%%VALUE(FechaIncidencia)%%></td>
		<td id="t_incidencias-DescIncidencia-<%%VALUE(IdIncidencia)%%>" class=""><%%VALUE(DescIncidencia)%%></td>
