<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 't_registros_publicaciones_ppam_publicador_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="t_registros_publicaciones_ppam_publicador-FechaRegistro-<%%VALUE(IdRegistro)%%>" class="t_registros_publicaciones_ppam_publicador-FechaRegistro text-center"><%%SELECT%%><%%VALUE(FechaRegistro)%%><%%ENDSELECT%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdPPAM-<%%VALUE(IdRegistro)%%>" class="t_registros_publicaciones_ppam_publicador-IdPPAM text-center"><%%SELECT%%><%%VALUE(IdPPAM)%%><%%ENDSELECT%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdVoluntario-<%%VALUE(IdRegistro)%%>" class="t_registros_publicaciones_ppam_publicador-IdVoluntario text-center"><%%SELECT%%><%%VALUE(IdVoluntario)%%><%%ENDSELECT%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdTurno-<%%VALUE(IdRegistro)%%>" class="t_registros_publicaciones_ppam_publicador-IdTurno text-center"><%%SELECT%%><%%VALUE(IdTurno)%%><%%ENDSELECT%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdPublicacion-<%%VALUE(IdRegistro)%%>" class="t_registros_publicaciones_ppam_publicador-IdPublicacion text-center"><%%SELECT%%><%%VALUE(IdPublicacion)%%><%%ENDSELECT%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-CantidadColocada-<%%VALUE(IdRegistro)%%>" class="t_registros_publicaciones_ppam_publicador-CantidadColocada text-center"><%%SELECT%%><%%VALUE(CantidadColocada)%%><%%ENDSELECT%%></td>
