<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_registros_publicaciones_ppam_publicador-FechaRegistro-<%%VALUE(IdRegistro)%%>" class="text-center"><%%VALUE(FechaRegistro)%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdPPAM-<%%VALUE(IdRegistro)%%>" class="text-center"><%%VALUE(IdPPAM)%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdVoluntario-<%%VALUE(IdRegistro)%%>" class="text-center"><%%VALUE(IdVoluntario)%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdTurno-<%%VALUE(IdRegistro)%%>" class="text-center"><%%VALUE(IdTurno)%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-IdPublicacion-<%%VALUE(IdRegistro)%%>" class="text-center"><%%VALUE(IdPublicacion)%%></td>
		<td id="t_registros_publicaciones_ppam_publicador-CantidadColocada-<%%VALUE(IdRegistro)%%>" class="text-center"><%%VALUE(CantidadColocada)%%></td>
