<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_registro_estudios-IdPPAM-<%%VALUE(IdRegistroEstudios)%%>" class="text-center"><%%VALUE(IdPPAM)%%></td>
		<td id="t_registro_estudios-IdVoluntario-<%%VALUE(IdRegistroEstudios)%%>" class="text-center"><%%VALUE(IdVoluntario)%%></td>
		<td id="t_registro_estudios-NombreEstudiante-<%%VALUE(IdRegistroEstudios)%%>" class=""><%%VALUE(NombreEstudiante)%%></td>
		<td id="t_registro_estudios-IdPublicacion-<%%VALUE(IdRegistroEstudios)%%>" class="text-center"><%%VALUE(IdPublicacion)%%></td>
		<td id="t_registro_estudios-Capitulo-<%%VALUE(IdRegistroEstudios)%%>" class="text-center"><%%VALUE(Capitulo)%%></td>
		<td id="t_registro_estudios-Parrafo-<%%VALUE(IdRegistroEstudios)%%>" class="text-center"><%%VALUE(Parrafo)%%></td>
		<td id="t_registro_estudios-Observaciones-<%%VALUE(IdRegistroEstudios)%%>" class=""><%%VALUE(Observaciones)%%></td>
