<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_turnos_hermanos_maestro-IdPPAM-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="text-center"><%%VALUE(IdPPAM)%%></td>
		<td id="t_turnos_hermanos_maestro-IdDiaSemana-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="text-center"><%%VALUE(IdDiaSemana)%%></td>
		<td id="t_turnos_hermanos_maestro-IdTurno-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="text-center"><%%VALUE(IdTurno)%%></td>
		<td id="t_turnos_hermanos_maestro-IdVoluntario-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="text-center"><%%VALUE(IdVoluntario)%%></td>
		<td id="t_turnos_hermanos_maestro-IdResponsabilidad-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="text-center"><%%VALUE(IdResponsabilidad)%%></td>
