<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_turnos_hermanos-IdPPAM-<%%VALUE(IdTurnoHermano)%%>" class="text-center"><%%VALUE(IdPPAM)%%></td>
		<td id="t_turnos_hermanos-FechaAsignacionTurno-<%%VALUE(IdTurnoHermano)%%>" class="text-center"><%%VALUE(FechaAsignacionTurno)%%></td>
		<td id="t_turnos_hermanos-IdTurno-<%%VALUE(IdTurnoHermano)%%>" class="text-center"><%%VALUE(IdTurno)%%></td>
		<td id="t_turnos_hermanos-IdVoluntario-<%%VALUE(IdTurnoHermano)%%>" class="text-center"><%%VALUE(IdVoluntario)%%></td>
		<td id="t_turnos_hermanos-IdResponsabilidad-<%%VALUE(IdTurnoHermano)%%>" class="text-center"><%%VALUE(IdResponsabilidad)%%></td>
