<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 't_turnos_hermanos_maestro_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="t_turnos_hermanos_maestro-IdPPAM-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="t_turnos_hermanos_maestro-IdPPAM text-center"><%%SELECT%%><%%VALUE(IdPPAM)%%><%%ENDSELECT%%></td>
		<td id="t_turnos_hermanos_maestro-IdDiaSemana-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="t_turnos_hermanos_maestro-IdDiaSemana text-center"><%%SELECT%%><%%VALUE(IdDiaSemana)%%><%%ENDSELECT%%></td>
		<td id="t_turnos_hermanos_maestro-IdTurno-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="t_turnos_hermanos_maestro-IdTurno text-center"><%%SELECT%%><%%VALUE(IdTurno)%%><%%ENDSELECT%%></td>
		<td id="t_turnos_hermanos_maestro-IdVoluntario-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="t_turnos_hermanos_maestro-IdVoluntario text-center"><%%SELECT%%><%%VALUE(IdVoluntario)%%><%%ENDSELECT%%></td>
		<td id="t_turnos_hermanos_maestro-IdResponsabilidad-<%%VALUE(IdTurnoHermanoMaestro)%%>" class="t_turnos_hermanos_maestro-IdResponsabilidad text-center"><%%SELECT%%><%%VALUE(IdResponsabilidad)%%><%%ENDSELECT%%></td>
