<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_ubicaciones_ppam-NombrePPAM-<%%VALUE(IdPPAM)%%>" class=""><%%VALUE(NombrePPAM)%%></td>
		<td id="t_ubicaciones_ppam-UbicacionPPAM-<%%VALUE(IdPPAM)%%>" class=""><%%VALUE(UbicacionPPAM)%%></td>
		<td id="t_ubicaciones_ppam-PoblacionPPAM-<%%VALUE(IdPPAM)%%>" class="text-center"><%%VALUE(PoblacionPPAM)%%></td>
		<td id="t_ubicaciones_ppam-CoordenadasGPS-<%%VALUE(IdPPAM)%%>" class="text-center"><%%VALUE(CoordenadasGPS)%%></td>
		<td id="t_ubicaciones_ppam-IdCiudadPPAM-<%%VALUE(IdPPAM)%%>" class="text-center"><%%VALUE(IdCiudadPPAM)%%></td>
