<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="t_voluntarios-NombreVoluntario-<%%VALUE(IdVoluntario)%%>" class="text-center"><%%VALUE(NombreVoluntario)%%></td>
		<td id="t_voluntarios-IdPPAM-<%%VALUE(IdVoluntario)%%>" class=""><%%VALUE(IdPPAM)%%></td>
		<td id="t_voluntarios-TelefonoMovilVoluntario-<%%VALUE(IdVoluntario)%%>" class="text-center"><%%VALUE(TelefonoMovilVoluntario)%%></td>
		<td id="t_voluntarios-MailVoluntario-<%%VALUE(IdVoluntario)%%>" class="text-center"><%%VALUE(MailVoluntario)%%></td>
		<td id="t_voluntarios-CongregacionVoluntario-<%%VALUE(IdVoluntario)%%>" class="text-center"><%%VALUE(CongregacionVoluntario)%%></td>
		<td id="t_voluntarios-Activo-<%%VALUE(IdVoluntario)%%>" class="text-center"><%%VALUE(Activo)%%></td>
