<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="t_voluntarios_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<input type="hidden" id="t_registros_publicaciones_ppam_publicador_hclink" value="t_registros_publicaciones_ppam_publicador_view.php?filterer_IdVoluntario=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="t_registro_estudios_hclink" value="t_registro_estudios_view.php?filterer_IdVoluntario=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="t_incidencias_hclink" value="t_incidencias_view.php?filterer_IdVoluntario=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="t_turnos_hermanos_hclink" value="t_turnos_hermanos_view.php?filterer_IdVoluntario=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="t_colaboraciones_ppam_hclink" value="t_colaboraciones_ppam_view.php?filterer_IdVoluntario=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="t_disponibilidades_voluntarios_hclink" value="t_disponibilidades_voluntarios_view.php?filterer_IdVoluntario=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="t_ciudades_ppam_hclink" value="t_ciudades_ppam_view.php?filterer_IdCoordinador=<%%URLVALUE(IdVoluntario)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="t_voluntarios_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="NombreVoluntario" class="control-label col-lg-3">Nombre Voluntario</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="NombreVoluntario" id="NombreVoluntario" value="<%%VALUE(NombreVoluntario)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="IdPPAM" class="control-label col-lg-3" data-parent_link="view_parent_modal">PPAM</label>
					<div class="col-lg-9">
						<div class="row form-control-static"><div class="col-xs-11"><%%COMBO(IdPPAM)%%><%%PLINK(IdPPAM)%%><%%ADDNEW(t_ubicaciones_ppam)%%></div></div>
					</div>
				</div>

				<div class="form-group">
					<label for="TelefonoMovilVoluntario" class="control-label col-lg-3">Tel&eacute;fono M&oacute;vil</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="TelefonoMovilVoluntario" id="TelefonoMovilVoluntario" value="<%%VALUE(TelefonoMovilVoluntario)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="MailVoluntario" class="control-label col-lg-3">Mail</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="MailVoluntario" id="MailVoluntario" value="<%%VALUE(MailVoluntario)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="CongregacionVoluntario" class="control-label col-lg-3">CongregacionVoluntario</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="CongregacionVoluntario" id="CongregacionVoluntario" value="<%%VALUE(CongregacionVoluntario)%%>">
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox"><label for="Activo"><input type="checkbox" name="Activo" id="Activo" value="1" <%%CHECKED(Activo)%%>> Activo</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="TelefonoFijoVoluntario" class="control-label col-lg-3">Tel&eacute;fono Fijo</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="TelefonoFijoVoluntario" id="TelefonoFijoVoluntario" value="<%%VALUE(TelefonoFijoVoluntario)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="IdResponsabilidadCongregacion" class="control-label col-lg-3" data-parent_link="view_parent_modal">IdResponsabilidadCongregacion</label>
					<div class="col-lg-9">
						<div class="row form-control-static"><div class="col-xs-11"><%%COMBO(IdResponsabilidadCongregacion)%%><%%PLINK(IdResponsabilidadCongregacion)%%><%%ADDNEW(m_responsabilidades_congregacion)%%></div></div>
					</div>
				</div>

				<div class="form-group">
					<label for="IdResponsabilidadPPAM" class="control-label col-lg-3" data-parent_link="view_parent_modal">IdResponsabilidadPPAM</label>
					<div class="col-lg-9">
						<div class="row form-control-static"><div class="col-xs-11"><%%COMBO(IdResponsabilidadPPAM)%%><%%PLINK(IdResponsabilidadPPAM)%%><%%ADDNEW(m_responsabilidades_ppam)%%></div></div>
					</div>
				</div>

				<div class="form-group">
					<label for="IdPrivilegiosServicio" class="control-label col-lg-3" data-parent_link="view_parent_modal">IdPrivilegiosServicio</label>
					<div class="col-lg-9">
						<div class="row form-control-static"><div class="col-xs-11"><%%COMBO(IdPrivilegiosServicio)%%><%%PLINK(IdPrivilegiosServicio)%%><%%ADDNEW(m_privilegios_servicio)%%></div></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="t_voluntarios_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="t_voluntarios-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^=#]):not([href^=javascript]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 't_voluntarios',
						SelectedID: '<%%VALUE(IdVoluntario)%%>',
						Operation: 'show-children'
					},
					't_voluntarios-children'
				);
			}

			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-lg)').next().addClass('hspacer-lg');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			/* find and hide parent links if field label has data 'parent_link' set to 'view_parent_hidden' */
			$j('label[data-parent_link=view_parent_hidden]').each(function(){
				$j(this).parents('.form-group').find('.view_parent').hide();
			});

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}'){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

		});
	</script>