<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="v_informemensualporpublicador-ppam-<%%VALUE(id)%%>" class="text-center"><%%VALUE(ppam)%%></td>
		<td id="v_informemensualporpublicador-fecha-<%%VALUE(id)%%>" class="text-center"><%%VALUE(fecha)%%></td>
		<td id="v_informemensualporpublicador-voluntario-<%%VALUE(id)%%>" class="text-center"><%%VALUE(voluntario)%%></td>
		<td id="v_informemensualporpublicador-publicacion-<%%VALUE(id)%%>" class="text-center"><%%VALUE(publicacion)%%></td>
		<td id="v_informemensualporpublicador-totalesmes-<%%VALUE(id)%%>" class="text-center"><%%VALUE(totalesmes)%%></td>
