<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="v_informepublicacionesporppamymes-ppam-<%%VALUE(id)%%>" class="text-center"><%%VALUE(ppam)%%></td>
		<td id="v_informepublicacionesporppamymes-fecha-<%%VALUE(id)%%>" class="text-center"><%%VALUE(fecha)%%></td>
		<td id="v_informepublicacionesporppamymes-publicacion-<%%VALUE(id)%%>" class="text-center"><%%VALUE(publicacion)%%></td>
		<td id="v_informepublicacionesporppamymes-totalesmes-<%%VALUE(id)%%>" class="text-center"><%%VALUE(totalesmes)%%></td>
