<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'v_informemensualporpublicador_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="v_informemensualporpublicador-ppam-<%%VALUE(id)%%>" class="v_informemensualporpublicador-ppam text-center"><%%SELECT%%><%%VALUE(ppam)%%><%%ENDSELECT%%></td>
		<td id="v_informemensualporpublicador-fecha-<%%VALUE(id)%%>" class="v_informemensualporpublicador-fecha text-center"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="v_informemensualporpublicador-voluntario-<%%VALUE(id)%%>" class="v_informemensualporpublicador-voluntario text-center"><%%SELECT%%><%%VALUE(voluntario)%%><%%ENDSELECT%%></td>
		<td id="v_informemensualporpublicador-publicacion-<%%VALUE(id)%%>" class="v_informemensualporpublicador-publicacion text-center"><%%SELECT%%><%%VALUE(publicacion)%%><%%ENDSELECT%%></td>
		<td id="v_informemensualporpublicador-totalesmes-<%%VALUE(id)%%>" class="v_informemensualporpublicador-totalesmes text-center"><%%SELECT%%><%%VALUE(totalesmes)%%><%%ENDSELECT%%></td>
